.add{
    width: 12rem;
    height: fit-content;
    border: 1px solid white;
    border-radius: 0.4rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    li{
        list-style: none;
    }
}