doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title form page
    // CSS only
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
    // JavaScript Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
.card.w-75
form(method='POST' action='localhost:5000/new-user')
    .form-group
    each item in title 
        label(for='exampleInputEmail1') #{ item }
        input#exampleInputEmail1.form-control(type='text' aria-describedby='help' placeholder='Enter email')
        small#help.form-text.text-muted We&apos;ll never share your email with anyone else. 
        br

    button.btn.btn-primary(type='submit') Submit